{% extends 'base.html' %}

{% block content %}
<div>
    <div class = "container pt-4">
        <div class = "row p-0 mt-4 ">
            <div class = "col-lg-4 mx-auto shadow p-0 ">
                <div class = "alert alert-info">
                    <h2>Add New TODO</h2>
                </div>
                <div class=" p-4">
                    <form  action="/add-todo/" method="POST" >
                        {% csrf_token %}
                        {{ form.as_p }}
                        <hr>
                        <input class= "btn btn-success" type="submit" value="Add">
                    </form>
                </div>
            </div>
            <div class = "col">
                <div class = "border">

                    {% if todos|length == 0 %}
                        <div class = "alert alert-info">
                            <p class = "display-4">NO TODOS</p>
                        </div>


                    {% else %}
                    <div>
                        <table class = "table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Updated</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>Due Date</th>
                                    <th>Delete</th>
                                    <th>Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                    {% for todo in todos %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{todo.updated}}</td>
                                        <td>{{todo.title}}</td>
                                        <td>{{todo.description}}</td>
                                        <td>{{todo.status}}</td>
                                        <td>{{todo.date}}</td>
                                        <td><a href="/delete-todo/{{todo.id}}" class = "btn btn-danger">Delete</a></td>
                                        <td><a href="/update-todo/{{todo.id}}" class = "btn btn-danger">Update</a></td>
                                    </tr>
                                    {% endfor %}
                                
                                
                            </tbody>
                        </table>
                    </div>


                    {% endif %}
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
          
{% endblock %}
    

   